<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="buildingMapper">
   <!-- BuildingDTO 컬럼명 매핑 -->
   <resultMap type="building" id="BuildingDTO">
      <result column="build_no" property="buildNo"/>
      <result column="build_name" property="buildName"/>
      <result column="build_addr" property="buildAddr"/>
      <result column="build_post" property="buildPost"/>
   </resultMap>
   
   <select id="allBuilding" resultMap="BuildingDTO">
      select * from building
   </select>
</mapper>