<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="departmentMapper">

	<!-- 테이블 매핑 -->
	<resultMap type="department" id="DepartmentDTO">
		<result column="dept_no" property="deptNo"/>
		<result column="dept_name" property="deptName"/>
		<result column="boss_no" property="bossNo"/>
		<result column="mgr_dept_no" property="mgrDeptNo"/>
	</resultMap>

	<!-- 성윤 : 부서 전체조회 (트리) -->
	<select id="selectAllDepartmentTree" resultType="map">
		SELECT 
			LEVEL,
		    dept_name,
		    dept_no, mgr_dept_no, boss_no
		FROM department
		START WITH mgr_dept_no IS NULL
		CONNECT BY PRIOR dept_no = mgr_dept_no
	</select>

	<!-- 민기 : 부서 명단 뽑아오기 -->
	<select id="selectAllDept" resultMap="DepartmentDTO">
        SELECT * FROM Department
	</select>
	
	<!-- 민기: 해당 사용자가 보스인 부서를 조회 -->
	<select id="selectDeptByBossNo" resultMap="DepartmentDTO">
        SELECT * FROM department where BOSS_NO = #{empNo}
	</select>
	 
</mapper>