<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="equipmentMapper"> 
	<!-- EquipmentDTO 컬럼명 매핑 -->
   <resultMap type="equipment" id="Equipment">
      <result column="room_no" property="roomNo"/>
      <result column="eq_no" property="eqNo"/>
      <result column="eq_name" property="eqName"/>
      <result column="eq_count" property="eqCount"/>
   </resultMap>
   
   <insert  id="equipmentInsert"  parameterType="Equipment">
   		insert into room_equipment values(#{roomNo},eq_seq.nextval,#{eqName},#{eqCount}) 
   </insert>
   
   <select id="equipmentDistinctSelect" resultMap="Equipment">
   		select distinct eq_name from room_equipment
   </select>
</mapper>