<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="mypageMapper">
<resultMap type="mypage" id="MypageDTO">
		<result column="reserve_no" property="reserveNo"/>
		<result column="room_no" property="roomNo"/>
		<result column="reserve_emp_no" property="reserveEmpNo"/>
		<result column="start_date" property="startDate"/>
		<result column="end_date" property="endDate"/>
		<result column="approval1_yn" property="approval1Yn"/>
		<result column="approval1_emp_no" property="approval1EmpNo"/>
		<result column="approval1_date" property="approval1Date"/>
		<result column="approval2_yn" property="approval2Yn"/>
		<result column="approval2_emp_no" property="approval2EmpNo"/>
		<result column="approval2_date" property="approval2Date"/>
		<result column="payment_yn" property="paymentYn"/>
		<result column="payment_date" property="paymentDate"/>
		<result column="reserve_date" property="reserveDate"/>
		<result column="reserve_price" property="reservePrice"/>
		<result column="purpose" property="purpose"/>
		<result column="category" property="category"/>
		<result column="priority" property="priority"/>
		<result column="emp_count" property="empCount"/>
		<result column="snack_yn" property="snackYn"/>
		
		<result column="emp_name" property="empName"/>
		<result column="room_name" property="roomName"/>
		<result column="build_name" property="buildName"/>
		<result column="dept_name" property="deptName"/>
		<result column="emp_position" property="empPosition"/>
		

	</resultMap>
   
	<select id="selectAllHistory" resultMap="MypageDTO">
		SELECT RESERVE_HISTORY.*,employee.emp_name, room.room_name FROM RESERVE_HISTORY, EMPLOYEE, ROOM
			WHERE reserve_history.reserve_emp_no=employee.emp_no and reserve_history.room_no=room.room_no
			
	</select>
	
	<select id="selectAllStatus" resultMap="MypageDTO">
            
         SELECT RESERVE_HISTORY.*, room.room_name, building.build_name FROM RESERVE_HISTORY, ROOM, building
	         WHERE TO_CHAR(START_DATE, 'YYYYMMDD') >= (SELECT TO_CHAR(SYSDATE, 'YYYYMMDD') FROM DUAL) 
	         and reserve_history.room_no=room.room_no
	         and room.build_no = building.build_no         
    </select>
    
    <select id="selectMemberList" resultMap="MypageDTO">
	    select reserve_history.reserve_no, meeting_member_list.dept_name, employee.emp_name, employee.emp_position
			from reserve_history, meeting_member_list, employee
			where reserve_history.reserve_no = meeting_member_list.reserve_no
			and meeting_member_list.emp_no = employee.emp_no
    </select>
	
	<delete id="delete">
   		DELETE FROM RESERVE_HISTORY WHERE reserve_no = #{reserveNo}
   	</delete>
	
</mapper>

