<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="noticeMapper">

   <resultMap id="NoticeResult" type="notice">

      <result column="notice_no" property="noticeNo" />

      <result column="notice_subject" property="noticeSubject" />

      <result column="notice_content" property="noticeContent" />

      <result column="writer_emp_no" property="writerEmpNo" />   

	  <result column="notice_date" property="noticeDate" />   
	  
	  <result column="writer_emp_no" property="writerEmpNo" />  
	  
   </resultMap>


	<select id="selectAll" resultMap="NoticeResult">
        <!-- SELECT * FROM Notice ORDER BY notice_no DESC -->
          SELECT Notice.*,employee.emp_name writer_emp_name FROM Notice,Employee WHERE Notice.writer_emp_no=employee.emp_no ORDER BY notice_no DESC
	</select>

 	<insert id="insert">
		Insert into MBMS.NOTICE (notice_no, notice_subject, notice_content, writer_emp_no, notice_date)
		values (Notice_SEQ.NEXTVAL , #{noticeSubject},  #{noticeContent} ,  #{writerEmpNo} , SYSDATE)
	</insert>


	<select id="selectByNoticeNo" resultMap="NoticeResult">
		SELECT * FROM (SELECT Notice.*,employee.emp_name writer_emp_name FROM Notice,Employee WHERE Notice.writer_emp_no=employee.emp_no) WHERE notice_no=#{noticeNo}
	</select>


	<delete id="delete">
		DELETE FROM Notice WHERE notice_no = #{noticeNo}
	</delete>


	<update id="update">
		UPDATE Notice SET
			notice_subject=#{noticeSubject},
			notice_content=#{noticeContent},
			writer_emp_no=#{writerEmpNo}
		WHERE notice_no = #{noticeNo}
	</update>
</mapper>