<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reserveHistoryMapper">
	<resultMap type="reserveHistory" id="ReserveHistoryDTO">
		<result column="reserve_no" property="reserveNo"/>
		<result column="room_no" property="roomNo"/>
		<result column="reserve_emp_no" property="reserveEmpNo"/>
		<result column="start_date" property="startDate"/>
		<result column="end_date" property="endDate"/>
		<result column="approval1_yn" property="approval1Yn"/>
		<result column="approval1_emp_no" property="approval1EmpNo"/>
		<result column="approval1_date" property="approval1Date"/>
		<result column="approval2_yn" property="approval2Yn"/>
		<result column="approval2_emp_no" property="approval2EmpNo"/>
		<result column="approval2_date" property="approval2Date"/>
		<result column="payment_yn" property="paymentYn"/>
		<result column="payment_date" property="paymentDate"/>
		<result column="reserve_date" property="reserveDate"/>
		<result column="reserve_price" property="reservePrice"/>
		<result column="purpose" property="purpose"/>
		<result column="category" property="category"/>
		<result column="priority" property="priority"/>
		<result column="emp_count" property="empCount"/>
		<result column="snack_yn" property="snackYn"/>
	</resultMap>
	
	<!-- 회원번호로 예약내역 조회 -->
	<select id="getReservationListByEmpNo" parameterType="String" resultMap="ReserveHistoryDTO">
		SELECT * FROM Reserve_history 
		WHERE reserve_emp_no = #{empNo} AND start_date &gt; sysdate
	</select>
	
	<!-- 회의실번호로 예약내역 조회 -->
	<select id="getReservationListByRoomNo" parameterType="int" resultMap="ReserveHistoryDTO">
		SELECT * FROM Reserve_history 
		WHERE room_no = #{roomNo} AND start_date &gt; sysdate
	</select>
	
	<!-- 회의실 예약 : 지사, 회의실구분별 예약목록 조회  -->
	<select id="getReservationList" parameterType="java.util.Map" resultType="map">
		<![CDATA[
			SELECT 
			    r.room_name AS roomName,
			    r.room_no AS roomNo,
			    r.network_yn AS networkYn, 
			    b.build_no AS buildNo,
			    b.build_name AS buildName,
			    rh.reserve_no AS reserveNo,
			    rh.start_date AS startDate,
			    rh.end_date AS endDate,
			    rh.purpose AS purpose,
			    rh.category AS category,
			    rh.emp_count AS empCount,
			    rh.snack_yn AS snackYn
			FROM reserve_history rh, room r, building b
			WHERE rh.room_no = r.room_no
			    AND r.build_no = b.build_no
			    AND rh.start_date > sysdate
			    AND b.build_no like '%${buildNo}%'
			    AND r.room_type like '%${roomType}%'
		]]>	
	</select>
</mapper>