<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="reserveHistoryMapper">
	<resultMap type="reserveHistory" id="ReserveHistoryDTO">
		<result column="reserve_no" property="reserveNo"/>
		<result column="room_no" property="roomNo"/>
		<result column="reserve_emp_no" property="reserveEmpNo"/>
		<result column="start_date" property="startDate"/>
		<result column="end_date" property="endDate"/>
		<result column="approval1_yn" property="approval1Yn"/>
		<result column="approval1_emp_no" property="approval1EmpNo"/>
		<result column="approval1_date" property="approval1Date"/>
		<result column="approval2_yn" property="approval2Yn"/>
		<result column="approval2_emp_no" property="approval2EmpNo"/>
		<result column="approval2_date" property="approval2Date"/>
		<result column="payment_yn" property="paymentYn"/>
		<result column="payment_date" property="paymentDate"/>
		<result column="reserve_date" property="reserveDate"/>
		<result column="reserve_price" property="reservePrice"/>
		<result column="purpose" property="purpose"/>
		<result column="category" property="category"/>
		<result column="priority" property="priority"/>
		<result column="emp_count" property="empCount"/>
		<result column="snack_yn" property="snackYn"/>
		<result column="reason" property="reason"/>
		<result column="title" property="title"/>
	</resultMap>
	
	<resultMap type="meetingMember" id="MeetingMemberDTO">
		<result column="reserve_no" property="reserveNo"/>
		<result column="emp_no" property="empNo"/>
		<result column="dept_name" property="deptName"/>
	</resultMap>
	
	<resultMap type="meetingEquipment" id="MeetingEquipmentDTO">
		<result column="reserve_no" property="reserveNo"/>
		<result column="eq_no" property="eqNo"/>
		<result column="eq_count" property="eqCount"/>
	</resultMap>
	
	<resultMap type="competentDepartment" id="CompetentDepartmentDTO">
		<result column="reserve_no" property="reserveNo"/>
		<result column="dept_no" property="deptNo"/>
		<result column="emp_count" property="empCount"/>
	</resultMap>
	
	<resultMap type="reserveHistory" id="reserveHistoryFull" extends="ReserveHistoryDTO">
		<collection property="meetingMemberList" ofType="meetingMember" resultMap="MeetingMemberDTO"></collection>
		<collection property="competentDepartmentList" ofType="meetingEquipment" resultMap="MeetingEquipmentDTO"></collection>
		<collection property="meetingEquipmentList" ofType="competentDepartment" resultMap="CompetentDepartmentDTO"></collection>
	</resultMap>
	<!-- End of resultMap -->
   
	<!-- 회원번호로 예약내역 조회 -->
	<select id="getReservationListByEmpNo" parameterType="String" resultMap="ReserveHistoryDTO">
		SELECT * FROM Reserve_history 
		WHERE reserve_emp_no = #{empNo} AND start_date &gt; sysdate
	</select>
	
	<!-- 회의실번호로 예약내역 조회 -->
	<select id="getReservationListByRoomNo" parameterType="int" resultMap="ReserveHistoryDTO">
		SELECT * FROM Reserve_history 
		WHERE room_no = #{roomNo} AND start_date &gt; sysdate
	</select>
	
	<!-- 회의실 예약 : 지사, 회의실구분별 예약목록 조회  -->
	<select id="getReservationList" parameterType="java.util.Map" resultType="map">
		<![CDATA[
			SELECT 
			    r.room_name AS roomName,
			    r.room_no AS roomNo,
			    r.network_yn AS networkYn, 
			    b.build_no AS buildNo,
			    b.build_name AS buildName,
			    rh.reserve_no AS reserveNo,
			    rh.start_date AS startDate,
			    rh.end_date AS endDate,
			    rh.purpose AS purpose,
			    rh.category AS category,
			    rh.emp_count AS empCount,
			    rh.snack_yn AS snackYn,
			    rh.reason AS reason,
			    rh.title AS title
			FROM reserve_history rh, room r, building b
			WHERE rh.room_no = r.room_no
			    AND r.build_no = b.build_no
			    AND rh.start_date > sysdate
			    AND b.build_no like '%${buildNo}%'
			    AND r.room_type like '%${roomType}%'
		]]>	
	</select>
	
	<!-- 날짜별 예약 시간 받아오기 -->
	<select id="getTimeByDate" parameterType="map" resultType="map">
		<![CDATA[
			SELECT 
			    rh.start_date AS startDate,
			    rh.end_date AS endDate
			FROM reserve_history rh, room r, building b
			WHERE rh.room_no = r.room_no
			    AND r.build_no = b.build_no
			    AND b.build_no like '%${buildNo}%'
			    AND r.room_no like '%${roomNo}%'
			    AND (
			    		( 
			    			rh.start_date BETWEEN TO_DATE(#{startDate}, 'yyyy/mm/dd hh24:mi') AND TO_DATE(#{startDate}, 'yyyy/mm/dd hh24:mi')+1
        					OR 
        					rh.end_date BETWEEN TO_DATE(#{startDate}, 'yyyy/mm/dd hh24:mi') AND TO_DATE(#{startDate}, 'yyyy/mm/dd hh24:mi')+1
        				)
        				OR
        				(
        					TO_DATE(#{startDate}, 'yyyy/mm/dd hh24:mi') BETWEEN rh.start_date AND rh.end_date
        				)
        			)
		]]>
	</select>
	

	<!-- 다음 예약시간 정보를 반환 -->
	<select id="getNextReservation" parameterType="map" resultType="map">
		<![CDATA[
			SELECT tt.* FROM (
			SELECT 
			    rh.start_date AS startDate,
			    rh.end_date AS endDate
			FROM reserve_history rh, room r, building b
			WHERE rh.room_no = r.room_no
			    AND r.build_no = b.build_no
			    AND b.build_no like '%${buildNo}%'
			    AND r.room_no like '%${roomNo}%'
			    AND rh.start_date > TO_DATE(#{startDate}, 'yyyy/mm/dd hh24:mi')
			ORDER BY rh.start_date asc
			) tt
			WHERE rownum=1
		]]>
	</select>
	
	<!-- 성윤: 다음 회의실 예약 번호 조회 -->
	<select id="getNextReserveNo" resultType="int">
		SELECT RESERVE_HISTORY_SEQ.NEXTVAL FROM DUAL
	</select>
	<!-- 성윤: 회의실 예약 추가 -->
	<insert id="insertReserveHistory" parameterType="reserveHistory">
		INSERT INTO Reserve_history VALUES(
			Reserve_history_seq.nextval, #{roomNo}, #{reserveEmpNo}, #{startDate}, #{endDate}, 
    		#{approval1Yn}, #{approval1EmpNo}, null, #{approval2Yn}, #{approval2EmpNo}, null, 0, null, SYSDATE, 
    		#{reservePrice}, #{purpose}, #{category}, 5, #{empCount}, #{snackYn}, null, #{title})
	</insert>
	<!-- 성윤: 회의실 참석자 명단 추가 -->
	<insert id="insertMeetingMemberList" parameterType="meetingMember">
		<foreach collection="list" item="item" index="index" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
            INTO meeting_member_list VALUES(
	                  Reserve_history_seq.currval                 
	                , #{item.empNo}                         
	                , #{item.deptName}                             
	           )
		</foreach>
	</insert>
	<!-- 성윤: 회의실 예약 시 비품정보 추가 -->
	<insert id="insertMeetingEquipmentList" parameterType="meetingEquipment">
		<selectKey keyProperty="reserveNo" resultType="int" order="AFTER"> SELECT Reserve_history_seq.currval FROM dual </selectKey>
		<foreach collection="list" item="item" index="index" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
            INTO meeting_equipment_list VALUES(
	                  Reserve_history_seq.currval  
	                , #{item.eqNo} 
	                , #{item.eqCount} 
	           )
		</foreach>
	</insert>
	<!-- 성윤: 주관부서 목록 추가 -->
	<insert id="insertCompetentDepartmentList" parameterType="competentDepartment">
		<selectKey keyProperty="reserveNo" resultType="int" order="AFTER"> SELECT Reserve_history_seq.currval FROM dual </selectKey>
		<foreach collection="list" item="item" index="index" separator=" " open="INSERT ALL" close="SELECT * FROM DUAL">
            INTO competent_department VALUES(
	                  Reserve_history_seq.currval  
	                , #{item.deptNo} 
	                , #{item.empCount} 
	           )
		</foreach>
	</insert>
	
	<!-- 민기 : 모든 예약내역 조회 -->
	<select id="getAllReservationList" resultMap="ReserveHistoryDTO">
		SELECT * FROM Reserve_history
	</select>
	
	<!-- 성윤: 해당 예약 상세정보 조회 -->
	<select id="selectOneReserveInfo" parameterType="int" resultType="reserveHistory">
		SELECT * FROM reserve_history WHERE reserve_no = #{reserve_no}
	</select>
	
	<!-- 성윤: 해당 예약 주관부서목록 조회 -->
	<select id="selectCompetentDeptartmentList" parameterType="int" resultType="competentDepartment">
		SELECT * FROM competent_department WHERE reserve_no = #{reserve_no}
	</select>
	
	<!-- 성윤: 해당 예약 참석자목록 조회 -->
	<select id="selectMeetingEquipmentList" parameterType="int" resultType="meetingEquipment">
		SELECT * FROM meeting_equipment_list WHERE reserve_no = #{reserve_no}
	</select>
	
	<!-- 성윤: 해당 예약 비품목록 조회 -->
	<select id="selectMeetingMemberList" parameterType="int" resultType="meetingMember">
		SELECT * FROM meeting_member_list WHERE reserve_no = #{reserve_no}
	</select>
	
	<!-- 성윤: 에약번호로 예약내역 조회 -->
	<select id="getReservationByReserveNo" parameterType="int" resultMap="ReserveHistoryDTO">
		SELECT * FROM Reserve_history 
		WHERE reserve_no = #{reserveNo}
	</select>
</mapper>