<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="com.gsitm.mbms.employee.EmployeeDTO" alias="employee"/>
		<typeAlias type="com.gsitm.mbms.employee.DepartmentDTO" alias="department"/>
		<typeAlias type="com.gsitm.mbms.notice.NoticeDTO" alias="notice"/>
		<typeAlias type="com.gsitm.mbms.building.BuildingDTO" alias="building"/>
	</typeAliases>
</configuration>